* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #07031e;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0px 2rem 2rem;
    /* clockwise top right bottom left */
    background-color: aliceblue;
}

h1, h2, h3  {
    color:rgb(0, 0, 185);
}

p {
    margin: 1em 0em;
}

footer {
    text-align: right;
    font-size: x-small;
}

img {
    flex: initial;
    width: 720px
}

.all-recipe {
    display:flex;
    flex: 1 1 auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.recipe {
    padding: 1rem;
    margin: 0.25rem 0;
    border-radius: 0.25rem;
    height: 2rem;
    width: 15rem;
    font-size: 12pt;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: rgb(0, 0, 185);
    color: white;
}

#index-title {
    text-align: center;
}